# python
__pycache__/
*.py[cod]
*$py.class
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# direnv
.direnv/
.envrc

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*