Django==1.11.5
py==1.4.34
pytest==3.2.2
python-http-client==3.0.0
pytz==2017.2
sendgrid==3.6.5
-e git+https://github.com/elbuo8/sendgrid-django.git@c23cd365d16da1392fb39a6b37963c5b36af2154#egg=sendgrid_django
